<!-- 'fxLayout' attribute doesn't seem to be strictly required , 
  just 'fxLayoutAlign' seems to make 'fxLayout' implicit -->
<section fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="400px" fxLayout="column" fxLayoutAlign=" center">
      <!-- <mat-card-header>
        <mat-card-title>Time to start a workout!</mat-card-title>
      </mat-card-header> -->
      <mat-card-title>Time to start a workout!</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-select placeholder="Select type of training">
            <mat-option value="crunches">Crunches</mat-option>
            <mat-option value="squats">Squats</mat-option>
            <mat-option value="yoga">Yoga</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button type="submit">Start</button>
      </mat-card-actions>
  </mat-card>
</section>