<!-- 'fxLayout' attribute doesn't seem to be strictly required , 
  just 'fxLayoutAlign' seems to make 'fxLayout' implicit -->
<section fxLayout fxLayoutAlign="center" class="card">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
      <!-- <mat-card-header>
        <mat-card-title>Time to start a workout!</mat-card-title>
      </mat-card-header> -->
        <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
          <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
          <mat-card-content fxLayoutAlign="center">
            <mat-form-field *ngIf="!isLoading">
              <mat-select placeholder="Select type of training" ngModel name="selectedTraining" required>
                <mat-option *ngFor="let training of availableTrainings$ | async" [value]="training.id">{{training.name}}</mat-option>
                <!-- <mat-option value="crunches">Crunches</mat-option>
                <mat-option value="squats">Squats</mat-option>
                <mat-option value="yoga">Yoga</mat-option> -->
              </mat-select>
            </mat-form-field>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </mat-card-content>

          <mat-card-actions fxLayoutAlign="center" *ngIf="!isLoading">
            <button mat-button type="submit" [disabled]="!f.form.valid">Start</button>
          </mat-card-actions>
        </form>

  </mat-card>
</section>