/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%; /* the page now occupies entire height of the browser viewport (otherwise would only take as much space as its contents require*/
}

body {
    margin: 0;
}